src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/Service_web_SOAP/WSOperaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="Procesar_pago" type="tns:Procesar_pago"/>

<xs:element name="Procesar_pagoResponse" type="tns:Procesar_pagoResponse"/>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="User" type="xs:string" minOccurs="0"/>
<xs:element name="Contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Procesar_pago">
<xs:sequence>
<xs:element name="total" type="xs:int"/>
<xs:element name="pago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Procesar_pagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>